* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 100vw !important;
    background-color: #4D2C09;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
img{
    width: auto;
    max-height: 50%;}
#easymenu {
    display: flex;
    width: 450px;
    height: 300px;
    float: left;
    
}

.titulo{
    display:flex;
float:center;
font-style: italic;
font-weight: bold;
font-weight: 999;
font-size: 40px;
color: #4D2C09;
margin: 5px;
width: 400px;

}
.nomedoproduto{
    display:flex;
    padding: 8px;
    margin: 8px;
    width: 800px;
    height: 23px;
    border: #fff;
    margin-top: 5px;
    resize: none;
    text-align: left; 
    justify-content: left;

}
.nomedoproduto:hover{
    background-color: #c58e5792;
    transition: 1s;
}
.descricao{
    display:flex;
    padding: 5px;
    margin: 5px;
    width: 800px;
    height: 60px;
    border: black;
    margin-top: -20px;
    resize: none; 
    text-align: left;
    justify-content: left; 
    border-color: black;
    
    
}
.descricao:hover{
background-color: #c58e5792;
transition: 1s;
}
.preco{
    display:flex;
    padding: 5px;
    margin: 8px;
    width: 200px;
    height: 40px;
    border: #fff;
    margin-top: 5px;
    resize: none; 
    margin-top: -40px; 
    z-index: 5;
}
.preco:hover{
    background-color: #c58e5792;
    transition: 1s;



}

.excluir{
    display:flex;
    background-color: #FF8F1C;
    border-radius: 50px;
    width: 450px;
    height: 60px;
    color: #4D2C09;
    border-color: #FF8F1C;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    font-size: xx-large;
    margin-right: 100px; 
    margin-left: 600px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: #FF8F1C;
}
.alterar{
    background-color: #FF8F1C;
    color: #4d2c09;
    display: block;
    border-radius: 50px;
    width: 450px;
    height: 60px;
    border: #FF8F1C;
    text-align: center;
    margin-left: 600px;
    margin-top: 60px;
    text-align: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    justify-content: space-around;
    
   


}

.botoes{
    display: flex;
    background-color: #FF8F1C;
    border-radius: 50px;
    width: 450px;
    height: 60px;
    text-align: center;
    border: #FF8F1C;
    font-weight: 800;
    color: #4D2C09;
    font-size: xx-large;
    margin-top: -180px;
    font-style: italic;
    justify-content: center;

    
}
#footer {
    min-height: 5vh;
    background-color: #FF8F1C;
    color: #4d2c09;
    text-emphasis-color: #4d2c09;
    position: fixed;
    bottom: 0;
    width: 100%;
}
   
    
