/* TEMPLATE PADRÃO */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.body {
    font-family: sans-serif;
}

.row {
    --bs-gutter-x: 0rem;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
    background-color: transparent;
    color: transparent;
}

.header {
    min-height: 12vh;
    width: 100vw !important;
    background-color: #47141e;
}

#dropdownMenuButton {
    background-color: #47141E;
    border-color: #47141E;
}

.logopng {
    width: 10rem;
}

.texto {
    margin-bottom: 0;
}

#footer {
    min-height: 5vh;
    background-color: #47141E;
    color: #fff;
    text-emphasis-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* BODY */

.conteudo {
    min-height: 83vh;
}

/* CRIAR EVENTO */

.btn-rounded {
    position: relative;
    margin-left: 1%;
    background-color: #47141E;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-rounded:hover {
    border-style: solid 2px;
    border-color: #47141E;
    color: #000;
}

#title-criarevento {
    margin: auto;
}

.form-control {
    display: block;
    justify-content: center;
    align-items: center;
}

.button-cadastrar-ev {
    background-color: #47141E;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.button-cadastrar-ev:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.close {
    position: relative;
    margin-left: 95%;
    height: 5%;
    width: 5%;
    border-radius: 5px;
}

/* CARDS EVENTOS */

#body-card {
    border: none;
    border-radius: 20px;
}

#card-view {
    -webkit-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px 8px rgba(150, 147, 147, 0.75);
    border-radius: 20px;
    border-color: #47141E;
}

#titlerow {
    background-color: #47141E;
}

.editarIcon {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border: none;
}

.editarIcon:hover {
    background-color: #F0DB4F;
}

.deleteIcon {
    background-color: #fff;
    width: 25px;
    height: 25px;
}

.deleteIcon:hover {
    background-color: #CF3700;
}

#dropMenuBtn {
    --bs-dropdown-min-width: 5.4rem;
}

.crudBtn {
    padding-bottom: 20px;
}

#botaoAdicionar {
    border: none;
    padding: 0;
    width: 7.4rem;
    margin-left: 1rem;
}