/* TEMPLATE PADRÃO */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 100vw !important;
    background-color: #4D2C09;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 150px;     
}

.header img {
    width: auto; /* Define a largura desejada */
    max-height: 100%; /* Mantém a proporção original da imagem */
}

  body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-white)!important;      
  }

#footer {
    min-height: 5vh;
    background-color: #FF8E1C;
    color: #4D2C09;
    text-emphasis-color: #4D2C09;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.conteudo {
    min-height: 83vh;
}


/* CARDS EVENTOS */