/* TEMPLATE PADRÃO */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.header {
  width: 100vw !important;
  background-color: #4D2C09;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.header img {
  width: auto;
  /* Define a largura desejada */
  max-height: 50%;
  /* Mantém a proporção original da imagem */
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-order {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.conteiner-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 10px;
}

.arrow-img {
  width: 30px;
  height: 30px;
}

.conteiner-btn-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-order {
  width: 180px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #FF8E1C;
  color: #4D2C09;
  font-weight: 800;
  font-size: 24px;
  padding: 0;
}

.conteiner-order {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.card-order {
  width: 45%;
  height: 400px;
  border-radius: 50px;
  background-color: #FF8E1C;
}

.header-img-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-order {
  width: 50%;
}

.div-info-order {
  padding: 8px;
  width: 100%;
  color: #000;
}

.div-info-order h2 {
  font-size: 24px;
  font-weight: 800;
}

.div-info-order h3 {
  font-size: 20px;
}

.div-info-order p {
  font-size: 16px;
  text-align: justify;
}

#title-card-order {
  text-align: center;
  text-transform: uppercase;
}

#card-order-obs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-info {
  height: 50px;
  width: 200px;
  background-color: #4D2C09;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin: 0px 30px 30px 0px;
}

footer {
  width: 100%;
}

#footer {
  min-height: 5vh;
  background-color: #FF8E1C;
  color: #4D2C09;
  text-emphasis-color: #4D2C09;
  width: 100%;
}

.conteudo {
  min-height: 83vh;
}


/* CARDS EVENTOS */