* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 100vw !important;
    background-color: #4D2C09;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}    
    #areaimagem{
        display: flex;
        width: 450px;
        height: 300px;
        float: left;
        background-color: gray;
        margin-top: 20px;}
    
    .adicionar{
        width: 300px;
        height: 60px;
        display: block;
        align-self: start;
        border: #FF8E1C;
        background-color:#FF8E1C;
        color: #4D2C09;
        border-radius: 50px;
        margin-bottom: 60px;
        margin-top: 300px;
        font-weight: 800;
        font-size: xx-large;
       text-align: center;
       font-style: italic;
       justify-content: center;
       align-content: center;
       font: 40;
           
    }
    .incluir{
        min-width:  340px;
        height: 80px;
        border: #FF8E1C;
        background-color:#FF8E1C;
        color: #4D2C09;
        border-radius: 50px;
        float: right;
        margin-top:-400px;
        margin-right: 300px;
        margin-top: -250px;
        font-weight: 800;
        font-size: xx-large;
        font-style: italic;
        text-align: center;   
    }
    input[type='file']{
        display: none;
    }
    label{
        width: 450px;
        height: 60px;
        background-color: #FF8F1C;
        font-size: 100px;
        display: flex;
        margin-top: -180px;
        font-style: italic;
        justify-content: center;
        cursor: pointer;
        border: #FF8F1C;
        font-weight: 900;
        color: #4D2C09;
        font-size: xx-large;
        border-radius: 50px;
        text-align: center;
        
    }    
    .nomedoproduto{
        display:flex;
        padding: 8px;
        margin: 8px;
        width: 800px;
        height: 23px;
        border: #fff;
        margin-top: -420px;
        resize: none;
        text-align: left; 
        justify-content: left;
        margin-bottom: -580px;
       
    }
    .nomedoproduto:hover{
        background-color: #c58e5792;
        transition: 1s;
    }
    .descricao{
        display:flex;
        padding: 5px;
        margin: 5px;
        width: 800px;
        height: 60px;
        border: black;
        margin-bottom:60px;
        resize: none; 
        text-align: left;
        justify-content: left; 
        border-color: black;
        margin-top: 600px;  
    }
    .descricao:hover{
    background-color: #c58e5792;
    transition: 1s;
    }
    .preco{
        display:flex;
        padding: 5px;
        margin: 8px;
        width: 200px;
        height: 40px;
        border: #fff;
        margin-top: -40px;
        resize: none;
        margin-bottom: 10px; 
        z-index: 5;
        border-color: #fff;
    }
    .preco:hover{
        background-color: #c58e5792;
        transition: 1s;
    }
   select{
       padding: 5px;
       color: #4D2C09;
       align-items: left; 
       text-align: left;
       align-content: center;
       width: 370px;
       height: 46px;
       left: 710px;
       top: 117px;
       margin-top: -200px;
       float:right;
       margin-left: -30px;
       margin-bottom: -50px;
       justify-content: center;
       float: right;
       display: flex;
       margin-right: -50px;
       position: fixed;
    }




#footer {
    min-height: 5vh;
    background-color: #FF8E1C;
    color: #4D2C09;
    text-emphasis-color: #4D2C09;
    position: fixed;
    bottom: 0;
    width: 100%;
}